* {
  font-family: "Sofia Pro", sans-serif !important;
}

.navbar {
  padding: 14px 20px 12px 24px !important;
}

.navbar-text {
  color: white;
  padding: 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.pivs {
  display: flex;
  padding: 4px 8px;
}

.piv {
  flex: 1;
  margin: 0 8px;
  background: transparent;
  border: none;
  color: black;
}

.piv.sel {
  border-bottom: 3px solid black;
}

.row {
  padding: 12px 20px;
}

.beta {
  border-left: 1px solid white;
  padding-left: 8px;
  margin-left: 8px;
  font-size: 12px;
  opacity: 0.7;
  padding-top: 10px;
}

.form-label {
  font-size: 18px;
  padding-left: 0;
}

.skiWrapper {
  padding: 0;
}

.ski {
  border-bottom: 1px solid #333;
  padding: 8px 0;
}

.table {
  margin-bottom: 0;
}

.skiTitle {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 4px;
}

.form-select {
  background-color: transparent !important;
  color: black;
  font-weight: 600;
  border: 1px solid black;
}

.allSkis {
  padding-top: 0 !important;
}

.skiAttr {
  padding: 4px 8px;
}

body {
  background: #ffea00;
}

td {
  padding: 1px 4px 1px 4px !important;
}

tr,
td {
  border-bottom: none;
}

td {
  background: transparent !important;
}

/* sexy button */
.evenboxinner {
  float: right;
  border: 1px solid #222;
  box-shadow: 3px 3px 0 #222;
  display: block;
  position: relative;
  width: auto;
  text-decoration: none;
  background: #ffea00;
  color: black;
  padding: 10px 20px 8px;
  font-size: 16px;
  margin-top: 8px;
}

/* chrome slider */
.slider {
  opacity: 1 !important;
}
.slider::-webkit-slider-runnable-track {
  background: #ffea00;
  border: 1px solid #333;
}
.slider::-webkit-slider-thumb {
  background: #333333 !important;
}
/* FF slider */
.slider::-moz-range-track {
  background-color: #ffea00;
}
.slider::-moz-range-thumb {
  background-color: #333333 !important;
}
